html{
    font-family: 'Lato', sans-serif;
}
body.game{
    overflow: hidden;
}
.hidden{
    display: none !important;
}

#splash{
    position: absolute;
    display:flex;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10;
    background-color: green;
    color: white;
    justify-content: center;
}
#splash-text{
    font-size: 20pt;
    align-self: center;
}
#toolbox{
    right: 20px;
    width: 200px;
}
.toolbox{
    display: block;
    position: absolute;
    list-style-type: none;
    margin: 0px;
    
    background-color: white;
    padding: 10px;
    border: 1px dashed black;
}
.toolbox li{
    display: block;
}
.text-as-icon{
    font-size: 25px !important;
}
button, .toolbox li.split-button, .button{
    display: block;
    text-decoration: none;
    box-sizing: content-box;
    border: none;
    background-color: green;
    color: white;
    font-size: 12pt;
    padding: 6px;
    text-align: center;
    cursor: pointer;
    margin: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
}
button.fill{
    width: 100%;
    box-sizing: border-box;
}
.toolbox li.split-button{
    display:flex;
    flex-direction: row;
    align-content: stretch;
    padding: 0px;
}
.toolbox li.split-button > *{
    background-color: transparent;
    margin: 0px;
}
.toolbox li.split-button > :first-child{
    flex-grow: 1;
    width: 20px;
}
.toolbox li.split-button > :last-child{
    padding: 1px;
    border-left: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
}
.toolbox li.split-button img{
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
.toolbox li.split-button span{
    padding-right: 3px;
}


.toolbox li.two-button{
    display: flex;
    flex-direction: row;
}
.toolbox li.two-button button{
    flex-grow: 0.5;
    width: 0px;
}
.toolbox li.two-button button:last-child{
    margin-left: 3px;
}
.toolbox li.two-button button:first-child{
    margin-right: 3px;
}
.toolbox  button.selected, .toolbox li.split-button.selected{
    background-color: #ffd34f;
    color: black;
}
.toolbox li.plan-name-box{
    display: flex;
}
#plan-name{
    width: 100px;
    margin-right: 5px;
    padding-right :5px;
    padding-left :5px;
    flex-grow: 1;
    border: 1px solid black;
}
#button-open{
    padding: 4px;
    margin: 0px;
    cursor: pointer;
    background-color: green;
}
#button-open img{
    vertical-align: middle;
}


#viewport{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -10;
}
#viewport .tile{
    position: absolute;
    width: 96px;
    height: 96px;
}
#viewport .viewport-background{
    position: absolute;
    background-image: url('img/grid.png');
}
#selection-rectangle, #placement-rectangle{
    z-index: 100;
    position: absolute;
    display: none;
}


#infobox{
    right: 20px;
    bottom: 20px;
    width: 250px;
    font-size: 11pt;
}
#infobox .contents > div{
    margin-top: 7px;
    margin-bottom: 7px;
}
#infobox h3{
    margin: 0px;
    font-size: 18px;
}
#infobox .key-value-pair label{
    font-weight: bold;
    padding-right: 0.5em;
}
#infobox .key-value-pair input{
    width: 50px;
    border: 1px solid black;
    padding: 3px;
}
#infobox .key-value-pair span{
    padding-left: 0.3em 
}
#infobox .contents{
    overflow-y: auto;
    height: 240px;
}
#infobox .action-button{
    cursor: pointer;
    width: 20px;
    padding: 3px;
    float: right;
}
#infobox button{
    margin: auto;
    margin-top: 7px;
    margin-bottom: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
}
#infobox hr{
    width: 70%;
    border: none;
    border-top: 1px solid gray;
}
.recipe{
    text-align: center;
}
.recipe canvas{
    vertical-align: middle;
    padding-right: 0.5em;
    padding-left: 0.3em;
    width: 24px;
    height: 24px;
}
.recipe span{
    display: inline-block;
}
.recipe span.missing{
    background-color: red;
}
.bus-contents{
    font-size: 11pt;
}
.bus-contents .amount{
    text-align: right;
}
.bus-contents canvas{
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
.bus-contents .unit{
    padding-right: 0.3em;
}

.module-list .slot, .module-list .add-slot{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 1px;
    margin-bottom: 0px;
    background-color: gray;
    vertical-align: baseline; 
    cursor: pointer;
}

.module-list .add-slot{
    background-color: transparent;
}

.file-list{
    display: block;
}
.file-list li{
    display: block;
    cursor: pointer;
}
.file-list li:hover{
    background-color: green;
}
#saving-notification{
    background-color: green;
    color: white;
    padding: 5px;
    position: absolute;
    top:0px;
    left:0px;
}

#dialog{
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    
    align-items: center;
    justify-content: center;
}
#dialog-window{
    border: 1px solid black;
    background-color: white;
    width: 600px;
    min-height: 200px;
    padding: 10px;
    position: relative;
}
#dialog-close-button{
    position: absolute;
    margin:0px;
    left: 100%;
    top: -1px;
    background-color: white;
    border: 1px solid black;
    padding: 3px;
}
#dialog-close-button img{
    display: block;
}
.dialog-buttons{
    display: block;
}
.dialog-buttons button{
    float:right;
    margin-left: 6px;
}
#dialog-contents.select-dialog input{
    width: 90%;
    display: block;
    margin: auto;
    margin-bottom: 0.5em;
}

#dialog-contents.select-dialog canvas{
    padding: 2px;
}
#dialog-contents.select-dialog canvas:hover{
    background-color: green;
}
#dialog-contents h2{
    font-size: 14pt;
    border-bottom: 1px solid gray;
    padding-left: 0.5em;
    margin-top: 1em;
}
#dialog-contents.open-dialog textarea{
    border: 1px solid black;
    height: 100px;
    box-sizing: border-box;
    width: 100%;
    display: block;
}